*{
    box-sizing: border-box;
}

body{
    margin:0;
    min-width: 250px;
}

.header{
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 30px 40px;

}

.header::after{
    content: " ";
    display: table;
    clear:both;
}

input{
    margin: 0;
    border: none;
    border-radius: 0;
    float: left;
    font-size: 16px;
    width:75%;
    padding: 10px;
}

.addBtn{
    background-color: azure;
    padding: 10px;
    width:25%;
    float: left;
    font-size: 16px;
    cursor: pointer;
    color: rgb(34, 34, 34);
}

.addBtn:hover{
    background-color: rgb(204, 204, 204);
}

ul{
   margin: 0;
   padding: 0;
}

ul li{
    background: beige;
    font-size: 18px;
    position: relative;
    padding: 12px 20px 12px 40px;
    cursor: pointer;
    transition: 0.2s;
}

ul li:nth-child(odd){
    background: rgb(248, 248, 209);
}

ul li:hover{
    background:rgb(248, 248, 163) ;
}

ul li.checked{
    text-decoration:line-through;
    color:grey;
}


.close{
    position: absolute;
    top: 0;
    right:0;
    padding: 12px 16px 12px 16px;
}

.close:hover{
    background: rgb(253, 106, 106);
    color: white;
}